body { background-color: grey;}
.sss {text-align: right;}
.aaa {margin-top:50px;}
.sss {direction: rtl;}
.st {color: green;}
.co {color: red;}
.ca {color: blue;}
.s {background-color: green;}
.o {background-color: red;}
.a {background-color: blue;}
.f {display: flex;}
table 
{
  /* border: 2px solid black; */
  padding-left: 450px;
  
}


a {text-decoration: none;}

body
{background-image: url("https://images.pexels.com/photos/585750/pexels-photo-585750.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260");}

























/* td {
  background-color: orange;
} */

/* .background {
  background-color: lightcoral;
} */

/* #email {
  background-color: lightcoral;
} */

/* h1.background {
  background-color: lightcoral;
} */
.hamad {display: inline-block;
  background-color: rgb(114, 113, 113);
  margin: 10px ;
  border-radius: 8px;
  padding: 10px;
}
 img {
 display: inline;
 padding:auto;
 padding-top: 10px;
 padding-left:10px ;
 }

/* .font {
  font-weight: 800;
  font-size: 18px;
} */

.padding { 
 padding: auto; 
 padding-bottom: 100px; 
 padding-right: 0;
  list-style-type: none;
  text-decoration: none; 
 } 

/* 
.font {
  font-weight: 800;
  font-size: 18px;
  color: white;
} */

/* body {
  background-color: grey;
} */
body{
  background-color: grey;
}
.direction{
  direction: rtl;
}

a {
  text-decoration: none;
}
table{
  border: 10px;
  border-color: black;
  border-radius: 50px;
  margin: auto;
  margin-top: 130px;
  margin-bottom: 80px;
 padding: 10px;
  /* margin-left: 500px; 
  margin-bottom: 50px;
  margin-top: 50px; */
  text-align: center;
  text-decoration:underline;
  background-color:bisque;
}

.underline{
  text-decoration: none;
}
.margin{
  margin-left:500px
}
.bullet{
list-style-type: none;
}
.margin1{
  margin-top: 100px;
}
/* .strong{
  display: inline;
} */
.inline{
  display: inline;
}
.next{
  display: flex;
  height:500px;
  align-items: flex-start;
}
.flex{
  display: flex;
  justify-content: space-between;
}
.change{
  color: black;
  
  font-size: 25px;
  text-align: center;
  text-shadow: 3px 3px 3px rgb(185, 185, 185);
}
.change1{
  background-image: url(https://images.pexels.com/photos/585750/pexels-photo-585750.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
  background-size: 200%;
}
/* a:hover{
  font-size: 30px;
  color: aqua; */


.wwe 
{ margin-top: 50px;}