/* td {
  background-color: orange;
} */

/* .background {
  background-color: lightcoral;
} */

/* #email {
  background-color: lightcoral;
} */

/* h1.background {
  background-color: lightcoral;
} */

 img {
 display: inline;
 padding:auto;
 padding-top: 10px;
 padding-left:10px ;
 }

/* .font {
  font-weight: 800;
  font-size: 18px;
} */

.padding { 
 padding: auto; 
 padding-bottom: 100px; 
 padding-right: 0;
  list-style-type: none;
  text-decoration: none; 
 } 

/* 
.font {
  font-weight: 800;
  font-size: 18px;
  color: white;
} */

/* body {
  background-color: grey;
} */
body{
  background-color: grey;
}
.direction{
  direction: rtl;
}

a {
  text-decoration: none;
}
table{
  border: 10px;
  border-color: black;
  border-radius: 50px;
  margin-left: 500px;
  margin-bottom: 50px;
  margin-top: 50px;
  text-align: center;
  text-decoration:underline;
  background-color: blanchedalmond;
}

.underline{
  text-decoration: none;
}
.margin{
  margin-left:500px
}
.bullet{
list-style-type: none;
}
.margin1{
  margin-top: 100px;
}
/* .strong{
  display: inline;
} */
.inline{
  display: inline;
}
.next{
  display: flex;
  height:500px;
  align-items: flex-start;
}
.flex{
  display: flex;
  justify-content: space-between;
}
.change{
  color:yellowgreen;
  background-color:white ;
  font-size: 25px;
  text-align: center;
  text-shadow: 3px 3px 3px green;
}
.change1{
  background-image: url("Coffee1.png");
  background-size: auto;
}
a:hover{
  font-size: 30px;
  color: aqua;

}
