body { background-color: grey;}
.sss {text-align: right;}
.aaa {margin-top:50px;}
.sss {direction: rtl;}
.st {color: green;}
.co {color: red;}
.ca {color: blue;}
.s {background-color: green;}
.o {background-color: red;}
.a {background-color: blue;}
.f {display: flex;}
table 
{
  /* border: 2px solid black; */
  padding-left: 450px;
  
}


a {text-decoration: none;}

body
{background-image: url("https://images.pexels.com/photos/585750/pexels-photo-585750.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260");}

























/* td {
  background-color: orange;
} */

/* .background {
  background-color: lightcoral;
} */

/* #email {
  background-color: lightcoral;
} */

/* h1.background {
  background-color: lightcoral;
} */

/* img { */
/* display: block; */
/* inline-block */
/* inline */
/* } */

/* .font {
  font-weight: 800;
  font-size: 18px;
} */

/* .padding { 
 padding: auto; 
 padding-bottom: 100px; 
 padding-right: 0;
  list-style-type: none; 
 }  */

/* 
.font {
  font-weight: 800;
  font-size: 18px;
  color: white;
} */

/* body {
  background-color: grey;
} */
